.main-container
{
    -fx-background-color: lightgray; /* Light grey background */
}

.thumbnail
{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1); /* Add shadow */
    -fx-cursor: hand; /* Change cursor on hover */
}

.thumbnail:hover
{
    -fx-scale-x: 1.05; /* Scale up slightly on hover */
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 7, 0.0, 0, 2); /* Stronger shadow on hover */
}

.navigation-bar
{
    -fx-background-color: gainsboro; /* Lighter background for navigation */
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.navigation-bar > .button
{
    -fx-background-color: black;
    -fx-border-color: silver;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
    -fx-cursor: hand;
    -fx-transition: background-color 0.3s; /* Smooth transition */
}

.navigation-bar > .button:hover
{
    -fx-background-color: whitesmoke;
}

.label
{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}

#fullImageViewContainer
{
    -fx-background-color: white;
    -fx-padding: 20px;
    -fx-alignment: center;
}